*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{
    background-color: #eee;

}




.box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-item{
    position: relative;
    margin: 5px 0;
}

.fa{
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}