@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');






:root {
  --font-family: "Open Sans", sans-serif;
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --color-white: #fff;
  --color-dark: #333;

  --color-grey: #eee;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  --color-purple: #9d0191;
  --color-orange: #ff7722;

  --color-primary: #007bff;
  --color-success: #28a745;
  --color-danger: orangered;





    /* dark shades of primary color*/



    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}




html {
  font-size: 10px;
}


img{
  width: 100%;
}


body {
  font-family: var(--ff-secondary);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: 'poppins', 'Open Sans', sans-serif;
}



/* containers */


section {
  width: 100%;
  padding: 8rem 0;
}




.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}




.main-- {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}



.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  
}


.box{
background-color: var(--color-white);
border-radius: 5px;
width: 25rem;
overflow: hidden;


}


.box2{
background-color: var(--color-white);
border-radius: 5px;
width: 25rem;
overflow: hidden;
display: none;
transition: all  0.5s ease; 
}





header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(240, 240, 240);
}



.logo {
  width: 60vw;
}





.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}



.--pointer{
  cursor: pointer;
}






/* UTILITY CLASSES */


.--relative{
position: relative;
}

.--absolute{
position: absolute;
}





/* Flex */
.--flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.--flex {
  display: flex;
}


.--grid-center {
  display: grid;
place-items: center;
  
}


.--grid {
  display: grid;

  
}

.--position-center {
  position: absolute;
  top: 50%;
  left: 50%;
 transform: translate(-50%, -50%);
  
}


.--flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
}



.--flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}



.--flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.--flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.--flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.--dir-column {
  flex-direction: column;
}




.--flex-dir-column {
  display: flex;
}




.--align-center {
  display: flex;
  align-items: center;

}



.--100vh {
  height: 100vh;
}


.--mh-100vh {
  min-height: 100vh;
}

/* Grid */
.--grid-15 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;
}



.--grid-25 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;
}




/* Center All */
.--center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  text-align: center;
  
}



/* Heading */
h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-dark);
  margin-bottom: 1rem;
}


h1 {
  font-size: 3rem;
}


h2 {
  font-size: 2.5rem;
}


h3 {
  font-size: 2rem;
}


h4 {
  font-size: 1.5rem;
}



p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.3;
  color: var(--color-dark);
}


/* fontsize */

.--text-xl {
  font-size: 4.5rem;
}
.--text-lg {
  font-size: 4rem;
}

.--text-md {
  font-size: 3rem;
}

.--text-sm {
  font-size: 1.2rem;
  font-weight: 300;
}

.--text-p-white {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1.3;
  color: rgb(245, 245, 245);
}
.--text-p-black {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1.3;
  color: rgb(126, 126, 126);
}

.--fw-bold {
  font-weight: 600;
}
.--fw-thin {
  font-weight: 200;
}


/* overflow */



.--overflow-hidden{
  overflow: hidden;
}


.--overflow-visible{
  overflow: visible;
}


.--overflow-auto{
  overflow: auto;;
}



/* Text Color */


.--text-light {
  color: #fff;
}

.--color-primary {
  color: #007bff;
}
.--color-danger {
  color: orangered;
}
.--color-success {
  color: #28a745;
}

.--color-white {
  color: #fff;
}





/* Center Text */

.--text-center {
  text-align: center;
}


.--text-left {
  text-align: left;
}


.--text-right {
  text-align: right;
}

.--float-left{
   float: left;
}


.--float-right{
   float: right;
}




/* Card */

.--card {
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}







/* Margin */


.--m2 {
  margin: 2rem;
}


.--ml {
  margin-left: 1rem;
}


.--ml2 {
  margin-left: 2rem;
}


.--mr {
  margin-right: 1rem;
}


.--mr2 {
  margin-right: 2rem;
}



.--mb {
  margin-bottom: 1rem;
}


.--mt {
  margin-top: 1rem;
}


.--mt2 {
  margin-top: 2rem;
}


.--my {
  margin: 1rem 0;
}


.--mx {
  margin: 0 1rem;
}




.--m {
  margin: 1rem;
}

.--m-auto {
  margin: auto;
}



.--ml2 {
  margin-left: 2rem;
}



.--mr2 {
  margin-right: 2rem;
}



.--mb2 {
  margin-bottom: 2rem;
}


.--my2 {
  margin: 2rem 0;
}


.--mx2 {
  margin: 0 2rem;
}






/* Padding */

.--p {
  padding: 1rem;
}


.--pt {
  padding: 1rem;
}


.--pt2 {
  padding: 2rem;
}


.--p2 {
  padding: 2rem;
}


.--py {
  padding: 1rem 0;
}


.--py2 {
  padding: 2rem 0;
}


.--px {
  padding: 0 1rem;
}


.--px2 {
  padding: 0 2rem;
}


/* buttons */


.--btn {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 6px 8px;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}



.--btn:hover {
  transform: translateY(-2px);
}


.--btn-lg {
  padding: 8px 10px;
}

.--btn-block {
  width: 100%;
}



.--btn-primary {
  color: #fff;
  background: #007bff;
}


.--btn-secondary {
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}



.--btn-danger {
  color: #fff;
  background: orangered;
}



.--btn-success {
  color: #fff;
  background: #28a745;
}


.btn-hero-- {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}


.btn-hero--:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}





/* Background */


.--bg-light {
  background: #fff;
}
.--bg-dark {
  background: var(--color-dark);
}
.--bg-primary {
  background: var(--color-primary);
}
.--bg-success {
  background: var(--color-success);
}
.--bg-grey {
  background: var(--color-grey);
}



/* forms with position relative*/

.--form-controls {
  font-size: 1.3rem;
  font-weight: 300;
  position: relative;
}

.--span-eye{
  font-size: 9px;
  position: absolute;
  top: 17%;
  right: 3%;
  cursor: pointer;
  
}


::placeholder{
  font-size: 10px;
  color: rgb(212, 212, 212);
}

label{
  font-size: 1.2rem;
  font-weight: 700;
}

input{
  margin-top: 1rem;
}


.--form-controls input {
  font-size: 1rem;
  font-weight: 300;
  padding: 4px 1rem;
  border: 1px solid #eee;
  border-radius: 3px;
  outline: none;
  width: 100%;
}


.--form-controls select {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 8px 1rem;
  border: 1px solid #777;
  border-radius: 3px;
}

.--form-controls label {
  font-size: 0.8rem;
  font-weight: 400;
  min-width: 7rem;
  color: rgb(99, 99, 99);
  margin-right: 1rem;
}


.--form-controls.success input{
border-color: green;
}


.--form-controls.danger input{
border-color: red;
}


.--form-controls.danger p{
border-color: red;
}


.--form-controls .error{
color: red;

}






/* normal form */


.--form-control {
  font-size: 1rem;
  font-weight: 300;
 
}

.--form-control > * {
  margin: 5px 0;
  padding-bottom: 1.2rem;
}

.--form-control input {
  font-size: 1rem;
  font-weight: 300;
  padding: 8px 1rem;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
  width: 100%;
}
.--form-control select {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 8px 1rem;
  border: 1px solid #777;
  border-radius: 3px;
}

.--form-control label {
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  min-width: 7rem;
  color: var(--color-dark);
  margin-right: 1rem;
}




/* others */



.--block {
  display: block;
}


.--inline-block {
  display: inline-block;
}




/* width and height */


.--width-100p {
  width: 100%;
}

.--width-500px {
  width: 500px;
  max-width: 500px;
}

.--height-500px {
  height: 500px;
  max-height: 500px;
}


.--height-400px {
  height: 400px;
  max-height: 400px;

}

.--height-100px {
  height: 100px;
  max-height: 100px;
}


.--height-200px {
  height: 200px;
  max-height: 200px;
}

.--height-50px {
  height: 50px;
  max-height: 50px;
}

.--width-400px {
  width: 400px;
  max-width: 400px;
}

.--width-box-500px{
  width: 500px;
  height: 300px;
}


/* line */

.--line {
  position: relative;
}


.--line::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 5rem;
  height: 3px;
  margin-bottom: 1rem;

  background: rgb(217, 8, 170);
  background: linear-gradient(
    135deg,
    rgba(163, 1, 191, 1) 44%,
    rgba(217, 8, 170, 1) 57%
  );
}




.--profile-img {
  width: 3rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 50%;
}




a {
  font-size: 1rem;
  color: var(--dark-blue);
  text-decoration: none;
  transition: all 0.2s;
}



a:hover {
  color: var(--color-dark);
  font-size: 1.5rem;
}


 /* circle */


.dot-- {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}







/* nav-bar */

.--navs {
  font-weight: 400;
}


.--navs > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.nav--- {
  background: var(--clr-white);
  height: 3rem;
  display: grid;
  align-items: center;
  box-shadow: var(--dark-shadow);
}


.--list-style-none {
  list-style: none;
}


ul {
  list-style-type: none;
}


li{
  font-size: 10px;
}


a {
  text-decoration: none;
}


.nav-center--- {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.nav-center--- h4 {
  margin-bottom: 0;
  color: var(--clr-primary-5);
}


.nav-links--- {
  display: flex;
}


.nav--- a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-primary-1);
  letter-spacing: var(--spacing);
  margin-right: 1rem;
}


.nav--- a:hover {
  color: var(--clr-primary-5);
}



/* progress-bar */


.--progress{
  width: 100%;
  height: 3px;
  background-color: #eee;
  margin: 2rem 0;
  
}

.--progress-bar{
  width: 5%;
  height: 3px;
  background-color: #777;
  transition: all 0.3s ease;
}




/* 
media queries */

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

@media (max-width: 650px) {
  .--navs > ul {
    flex-direction: column;
  }
}


@media (max-width: 650px) {
  .--navs {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  .navv li {
    padding-bottom: 5px;
  }
}



@media screen and (min-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}


@media screen and (max-width: 600px) {
  .--flex-dir-column {
    flex-direction: column;
  }
}



@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}





.pb-primary {
  background-color: #007bff;
}
.pb-danger {
  background-color: orangered;
}
.pb-success {
  background-color: #28a745;
}

.pb-warning {
  background-color: yellow;
}



/* about */
.about-img__container {
  position: relative;
}

.about-img__container::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid darkblue;
  z-index: -1;
  transition: all 1s ease-in-out;
}
.about-img__container:hover:before {
  top: 0;
  left: 0;
}

/*end of  about */