.logos img{
    width: 80px;
    margin-right: 25px;
}

.logos{
    margin-top: 80px;
}

.nav-link{
    font-size: 13px!important;
    color: black!important;
    margin: 0 20px;
}

.navbar-brand{
    margin-right: 50px!important;
}


.text{
    padding: 40px 90px;
}

#features img{
    width: 10px;
    margin-right: 5px;
}



@media  screen and (max-width: 768px) {
    .text{
        padding: 0;
        margin-bottom: 40px!important;
    }
}