*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans, Roboto, poppins';
}



.container{
  

  .navbar-brand{
            img {
                width: 150px;
            }
    }
}

.sec{
    width: 100%;
    padding: 2rem 0;
    overflow: hidden;
 
 

    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 5rem;
   
        .col-md-4{
           
            h1{
                color: red;
                font-size: 20px;
                font-weight: bold;
            }
    
            .name{
                color: black;
                font-size: 55px;
                font-weight: 700;
            }
    
            p{
                font-size: 13px;
            }
    
            h4{
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 20px;
            }
    
            .blacks{
                display: inline-block;
                width: 30px;
                height: 30px;
                background-color: hsl(0, 0%, 0%);
                border-radius: 50%;
                cursor: pointer;
    
            }
    
            .reds{
                @extend .blacks;
                background-color: rgb(130, 2, 2);
                margin: 0 5px;
            }
    
            .blues{
                @extend .blacks;
                background-color: rgb(50, 0, 230);
            }
        }

        
        .col-md-8{
            display: block;
            align-items: center;
            justify-content: center;

           img{
            width: 100%;
            max-width: 700px;
           }
           .img2{
            display: none;
       
           }
           .img3{
            @extend .img2;
           }
          }
  
     
    }
    
  


}

@media screen and (max-width: 768px) {

    .sec{

        padding: 4rem 0;
        
        .container{

            .row{
                flex-direction: column;
                padding-left: 0;
            }

            .col-md-4{
                text-align: center;
                padding: 0;

                h1{
                    text-align: center;
                }

                .name{
                    text-align: center;
                }

                p{
                    text-align: center;
                }
            }

        }
    }
  
}